.grid {
    font-family: 'Roboto', sans-serif;
    color: #1F2226;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5;    
    margin: auto;    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    grid-gap: 20px;
    grid-template-areas:
        "h"
        "c"
        "i"
        "a"
        "b4"        
        "vd1"
        "vd2"
        "vd3"
        "gc";       
}

.grid-categorias{
    display: grid;
    gap: 0.625rem;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "gct gct" 
    "ct1 ct2"
    "ct3 ct4"
    "ct5 ct6"
    "ct7 ct8";
    grid-area: gc;
}

.categoria{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #EBEBEB;
    padding: 1.875rem;
    transition: all .25s;
    position: relative;
    text-decoration: none;
    color: #1F2226;
    font-weight: bold;
    text-transform: uppercase;
    flex-direction: column;
    padding: 15px 15px !important;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.2rem;
}

.grid-categorias__titulo{
    grid-area: gct;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px; 
    text-align: center;  
}

.grid-categorias__subtitulo{
    margin-top: 10px;
}

.boxes {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #EBEBEB;
    padding: 30px;
}



#descripcion{
    margin-bottom: 20px;
}

.cabecera {    
    grid-area: h;
    background-color: #ffe4eb;
    border: 1px solid #F3CAD5;
    border-radius: 8px;    
    color: #FF7698;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;
}

.cabecera__link{
    color: #FF7698;
    font-size: 0.875rem;
    justify-self: flex-end;
}

.cabecera__icono{
    font-size: 1rem;
}

#tienda-subtitulo {
    font-size: 14px;
    color: #FF7698;
    text-transform: uppercase;
}

.youtube {
    width: 100%;
    height: 40vh;
}

#barra-hzt {
    margin: 0 20px 0 20px;
    width: 1px;
    height: 25px;
    color: #FF7698;
    border: none;
    background-color: #FF7698;
}

.subtitulo {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.foto {
    grid-area: f;
    align-self: start;
    padding: 0 !important;
    display: none;
}

#modelo {
    display: block;
    max-width: 100%;
    border-radius: 0.5rem;
}

.txt-aviso {
    text-align: center;
    margin: 0 0 20px 0;
}

.txt-aviso-titulo {
    margin: 0 0 5px 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.txt-contenido-titulo {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    line-height: 1.3;
}

.contenido {
    grid-area: c;
}

#barra {
    margin: 20px 0 20px 0;
    height: 1px;
    border: none;
    background-color: #EBEBEB;
}

#lista-1 {
    margin: 0;
    padding-left: 15px;
}

.lista-info {
    margin: 0 0 15px 0;
    padding-left: 15px;
    text-align: left;
}

#special-features {
    margin-bottom: 0;
}

.info {
    grid-area: i;
    padding: 30px;
}

.aviso {
    grid-area: a;
    background-color: #ffe58f !important;
    border: 1px solid #f5cc52 !important;
    text-align: center;
    color: #1f2226f1;
}

.aviso__icono{
    font-size: 36px;
    margin-bottom: 15px;
}

.bullet1 {
    grid-area: b1;
    display: none;
}

.bullet2 {
    grid-area: b2;
}

.bullet3 {
    grid-area: b3;
}

.bullet4 {
    grid-area: b4;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo-info {
    text-align: center;
}

.tip-img {    
    width: 100%;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
}

.margen{
    margin: 20px 0 10px 0;
}

.bullet4__tips {
    width: 100%;
}

.titulo-bullet {
    margin: 10px 0 10px 0;
}

.icono {
    color: #FF7698;
    font-size: 30px;
}

.metodos {
    display: flex;
    flex-wrap: wrap;
}

.iconos-pagos {
    color: #1F2226;
    font-size: 24px;
    margin: 15px 15px 0 0;
    opacity: 50%;
}

.txt-bullets {
    margin: 0;
}

.shipping {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#logo {
    height: 50px;
}

#btn-1{
    grid-area: bt1;
}

#btn-2{
    grid-area: bt2;
}

#enlace{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#video1{
    grid-area: vd1;
}

#video2{
    grid-area: vd2;
}

#video3{
    grid-area: vd3;
}

.thumbnail{
    width: 100%;
}

.play-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    width: 68px;
    background-color: #ff0000;
    border-radius: 12px;
    position: absolute;
    z-index: 1000;
    border-radius: 50%;
}

.enlace{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-ytb{
    color: white;
    font-size: 1.5rem;
}

.triangulo{  
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 20px solid white;
    border-bottom: 12px solid transparent;    
}

.size-table {
    border: 1px solid #1F2226;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.15);
    border-collapse: collapse;
    border-style: hidden; 
    box-shadow: 0 0 0 1px #1f2226;
    margin: auto;
    width: 100%;
}

th, td {
    /* padding: 5px 15px 5px 15px; */
     padding: 5px;
  }

.size-table__header {
    background: #1F2226;
    color: #FFE89C;
    text-transform: uppercase;
    font-size: 0.875rem;
}

tr:not(:first-child):hover {
    background: #1f222615;
}

@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
        "h h h h h h h h h h h h"
        ". . . f f f f f f . . ."
        "c c c c c c c c i i i i"
        "a a a a a a a a a a a a"        
        "b4 b4 b4 b4 b4 b4 b4 b4 b4 b4 b4 b4"
        "vd1 vd1 vd1 vd1 vd2 vd2 vd2 vd2 vd3 vd3 vd3 vd3"
        "gc gc gc gc gc gc gc gc gc gc gc gc"; 
    }

    .grid-categorias{
        column-gap: 20px;
        grid-template-columns: repeat(4, 1fr);  
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        "gct gct gct gct" 
        "ct1 ct2 ct3 ct4";
    }

    .foto {
        display: unset;
    }

    .txt-contenido-titulo {
        font-size: 26px;
    }

    #tienda-subtitulo {
        font-size: 20px;
    }

    #logo {
        height: 80%;
    }

    #barra-hzt {
        height: 40px;
    }   

    .tip-img {    
        width: 48%;
    }

    .bullet4 {
        grid-area: b4;
        text-align: left;
    }

    .tips-imgs {
        margin-top: 20px;
        flex-wrap: nowrap;
    }

    .margen{
        margin: 0 20px 0 0;
    }

    

}

@media only screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-row-gap: 50px;
        grid-template-areas:
            "h h h h h h h h h h h h"
            "f f f f f c c c c c i i"
            "a a a a a gc gc gc gc gc gc gc"
            "a a a a a b1 b1 b1 b1 b1 b1 b1"
            "b4 b4 b4 b4 b4 b4 b4 b4 b4 b4 b4 b4"
            "vd1 vd1 vd1 vd1 vd2 vd2 vd2 vd2 vd3 vd3 vd3 vd3";           
    }

    .grid-categorias{
        column-gap: 20px;
        grid-template-columns: repeat(4, 1fr);  
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        "gct gct gct gct" 
        "ct1 ct2 ct3 ct4";
        margin-bottom: -30px;
    }

    .categoria:hover {
        box-shadow:  0 8px 20px rgba(0,0,0,0.10);
        transform: scale(1.01);
        cursor: pointer;
        text-decoration: none;
    }

    .txt-contenido-titulo {
        font-size: 26px;
    }

    .bullet1 {
        display: unset;
    }

    .bullet4__tips {
        width: 33.33%;
    }

    .margen{
        margin: 0 20px 0 30px;
    }

    .foto {
        display: unset;
    }

    .tip-img {    
        width: 100%;
    }

    .tips-imgs{
        display: flex;

    }

    #tienda-subtitulo {
        font-size: 20px;
    }

    #logo {
        height: 90%;
    }

    .bullet4 {
        grid-area: b4;
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .titulo-info {
        text-align: left;
    }

    #barra-hzt {
        height: 40px;
    }
    .play-btn{        
        background-color: #4A4A4A;
        opacity: 80%;
        z-index: 1000;
        transition: all .20s ease;
    }
    .enlace:hover > .play-btn {
        background-color: #ff0000;
        opacity: 1;    
    }
}